// Custom styles.
@media screen and (min-width:500px) {

    body {
    background-image: url(/images/rmb.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%; 
    background-size: cover;
    }

    #footer a {
        color: #eee;
    }
}